div.locations,
div.amenities {
	height: 100%;
	width: 25%;
	border-right: 1px #DDDDDD solid;
	border-radius: 4px;
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
}

div.locations h3,
div.amenities h3 {
	font-weight: 600;
	font-size: 16px;
}

div.locations h4,
div.amenities h4 {
	font-weight: 400;
	font-size: 14px;
}
